body
{
    background:#EFEFEF;
    margin:25px 0 0 0;
}
#container
{
    background:#FFF;
    padding:25px;
}
fieldset
{
    border:none;
    margin:0;
    /*border-top:4px solid #CCC;
    background:#EEE;*/
}
#content
{
    border-top:1px solid #CCC;
    padding-top:25px;
}
fieldset dt
{
    margin:0 0 0 0;
}
fieldset dd
{
    margin:0 0 15px 0;
}
#submit-element
{
    margin:0;
}